
<div id="home-splash">
  <h1>Keep track of<p>    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; your movies</h1>
  <%= image_tag "cinema.jpg", alt: "cinema", width: 700 %>
</div>
<div class="list-area">
  <div id="lists">
    <h4> Our Lists </h4>
    <%= render 'index' %>
  </div>
</div>
