
<div id="home-splash">
  <div data-controller="type-effect">
    <h1>Keep track of<br>
    your movies
    </h1>
  </div>
  <%= image_tag "cinema.jpg", alt: "cinema", width: 700 %>
</div>
<div class="list-area">
  <div id="lists">
    <h4> Our Lists </h4>
    <%= render 'index' %>
  </div>
</div>
